.container {
    max-width: 60%;
}

.carre {
  display: inline-block;
  width:200px;
  height:200px;
  background-color:#ccc;
  cursor:pointer;
  border: 2px solid gray;
  border-radius: 20px;
  margin: 0 auto;
}

.round {
    display: grid;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.bleu {
  background-color:blue;
}
.rouge {
  background-color:red;
}
.vert {
  background-color:green;
}
.jaune {
  background-color:yellow;
}